:root {
  --background-main: #000000E5;
  --background-header: #262626;
  --primary-header-color: #2271D1 ;
  --boder-header-shadow-color: #2271D1B2;
  --cards-frontend-color: #6BD1FF;
  --cards-backend-color:#00C86F;
  --cards-mobile-color:#FFBA05;
  --background-modal:#03122F;
  --selected-input-color: #A5A5A5;
  --successful-color-card:#1CD40C;
  --erro-color-card:#F52B2B;
  --caution-button-color:#EBF129;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-main);
}

::-webkit-scrollbar {
  height: 8px;
  width:8px;
}

::-webkit-scrollbar-corner {
  height: 0px;

}

::-webkit-scrollbar-track {
  border: 20px solid #2271D12B;
  border-radius: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border: 10px solid #2271D1;
  border-radius: 20px;
}